
#navbar-main{
    background-color: #C4C5BA;
}

#main-wrapper{
    background-color: #C4C5BA;
}

.site-footer{
    background-color: #C4C5BA;
}

#navbar-top{
    background-color: #595f39;
}

.img-fluid .d-inline-block .align-top{
    width: 3px;
    height: 3px;    
}

#page {
    background-color: #C4C5BA;
}

.toolbar{
    background-color: #1b1b1b;
}

.sidebar .block{
    background-color: oklch(0.9172 0.008 106.56 / 37.17%);
    border-color: #1b1b1b;
}

.nav-link{
    color: black;
    margin-left: 1em;
}

.nav-link:hover{
    color: black;
}

a {
    color: #A50104;
}

a:hover{
    color: #790002;
}

p {
    color:black;
}

.btn-primary{
    background-color: #C4C5BA;
    color: black;
    border-color: #C4C5BA;
}

.sidebar, h2{
    border-bottom: #1b1b1b;
}

.footer{
    color: #1b1b1b;
}